<a href="https://colab.research.google.com/github/alexthotse/zero-to-mastery-ml-course/blob/main/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda", "VW"])

In [ ]:
series

0       BMW
1    Toyota
2     Honda
3        VW
dtype: object

In [ ]:
# series = 1-dimensional
colours = pd.Series(["Red", "Blue", "Black", "White"])
colours

0      Red
1     Blue
2    Black
3    White
dtype: object

In [ ]:
# Dataframe = 2-dimensional
car_data = pd.DataFrame({"Car_make": series, "Colour": colours })
car_data

  Car_make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  Black
3       VW  White

In [ ]:
# Import Data
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
# Exporting a dataframe
car_sales.to_csv("exported_car_sales.csv", index=False)
#car_sales.to_excel("export_to_csv") -> if you want to export to excel

In [ ]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
!cd ..
!ls

sample_data

In [ ]:
!apt install go

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package go

In [ ]:
!mkdir -p ~/git/GitHub/canha

In [ ]:
!cd ~/git/GitHub/canha
!git clone https://github.com/canha/golang-tools-install-script
!cd golang-tools-install-script

Cloning into 'golang-tools-install-script'...
remote: Enumerating objects: 428, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 428 (delta 44), reused 21 (delta 9), pack-reused 353
Receiving objects: 100% (428/428), 89.00 KiB | 6.36 MiB/s, done.
Resolving deltas: 100% (208/208), done.

In [ ]:
!ls

golang-tools-install-script  sample_data

In [ ]:
!cd golang-script-install-script

/bin/bash: line 0: cd: golang-script-install-script: No such file or directory

In [ ]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Jul 19 18:34 .
drwxr-xr-x 1 root root 4096 Jul 19 18:14 ..
drwxr-xr-x 4 root root 4096 Jul 16 13:19 .config
drwxr-xr-x 5 root root 4096 Jul 19 18:34 golang-tools-install-script
drwxr-xr-x 1 root root 4096 Jul 16 13:20 sample_data

In [ ]:
!ls golang-tools-install-script

goinstall.sh  LICENSE.md  README.md  tests

In [ ]:
*!bash golang-tools-install-script/goinstall.sh

Downloading go1.16.4.linux-amd64.tar.gz ...
--2021-07-19 18:36:59--  https://storage.googleapis.com/golang/go1.16.4.linux-amd64.tar.gz
Resolving storage.googleapis.com (storage.googleapis.com)... 173.194.216.128, 173.194.217.128, 108.177.13.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|173.194.216.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129044044 (123M) [application/x-gzip]
Saving to: ‘/tmp/tmp.BcfAdbx7vo/go.tar.gz’

/tmp/tmp.BcfAdbx7vo 100%[===================>] 123.07M   147MB/s    in 0.8s

2021-07-19 18:37:00 (147 MB/s) - ‘/tmp/tmp.BcfAdbx7vo/go.tar.gz’ saved [129044044/129044044]

Extracting File...
Configuring shell profile in: /root/.bashrc

Go 1.16.4 was installed into /root/.go.
Make sure to relogin into your shell or run:

	source /root/.bashrc

to update your environment variables.
Tip: Opening a new terminal window usually just works. :)

In [ ]:
!cat ~/.bashrc

# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# don't put duplicate lines in the history. See bash(1) for more options
# ... or force ignoredups and ignorespace
HISTCONTROL=ignoredups:ignorespace

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

PS1='\[\033[01;34m\]\w\[\033[00m\]\$ '

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# GoLang
export GOROOT=/root/.go
export PATH=$GOROOT/bin:$PATH
export GOPATH=/root/go
export PATH=$GOPATH/bin:$PATH